body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #1c1c1c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content {
  text-align: center;
  user-select: none;
}

.title {
  margin: 0;
  font-size: 100%;
}

.countdown {
  margin: 30px 0;
}

#second {
  margin: 0 5px;
  font-size: 200%;
  font-weight: bold;
}

#tweet-btn {
  display: inline-block;
  font-size: 70%;
  text-decoration: none;
  padding: 5px 40px;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 1.5rem;
  cursor: pointer;
}

.hpb {
  margin-bottom: 30px;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
